@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #f25c4d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-paper {
    /* background-color: black;
    background-image:
      radial-gradient(rgba(0,0,0,0.03) 1px, transparent 1px),
      radial-gradient(rgba(0,0,0,0.02) 1px, transparent 1px);
    background-size: 4px 4px, 6px 6px;
    background-position: 0 0, 2px 2px; */
    background: url("/paper.jpg") repeat center cover ;
  }
}
